.search-autocomplete-container{
padding-top: 10%;
margin: auto;
max-width: 50%;
display: flex;
flex-direction: column;
justify-content: center;
}

.suggestions_list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.suggestions_item {
  cursor: pointer;

}